* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #333;
}

button:active, button:focus {
    outline: none;
}

.inner-col > a {
    text-decoration: none;
    color: #fff;
}

.middle {
    position: relative;
    width: 800px;
    height: 800px;
}

.add-menu {
    display: flex;
    flex: 1;
    position: absolute;
    top: 600px;
    color: white;
    height: 180px;
    width: 800px;
    background-color: #333;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    padding: 4px;
}

.row {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    flex-direction: column;
    padding: 4px;
    margin: 1px;
    border: 1px solid white;
    border-radius: 10px;
}

.inner-col {
    line-height: 74px;
    text-align: center;
    cursor: pointer;
}

#range-num {
    text-align: center;
    margin-top: -8px;
}

.white {
    color: #fff !important;
}

.black {
    color: #000 !important;
}

.left {
    min-width: 150px;
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 12px;
}

.wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.legend {
    width: 50px;
    height: 10px;
    background-color: cornflowerblue;
}

.legend-title {
    margin-left: 5px;
}

.right {
    min-width: 150px;
    position: absolute;
    right: 50px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-shoot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #fff;
    border: 1px solid #706fd8;
    border-radius: 10px;
    cursor: pointer;
}

.time {
    text-align: right;
    color: #000;
    width: 50%;
    margin-left: 20px;
}

.w {
    display: flex;
    width: 100%;
}

#time-value {
    width: 50%;
    text-align: left;
    margin-left: 5px;
}

input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 200px;
    background: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #706fd8;
    border-radius: 1px;
    border: 0 solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000031;
    border: 1px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #706fd8;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #706fd8;
    border-radius: 1px;
    border: 0 solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000031;
    border: 1px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #706fd8;
    border: 0 solid #010101;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #706fd8;
    border: 0 solid #010101;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000031;
    border: 1px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #706fd8;
}

input[type=range]:focus::-ms-fill-upper {
    background: #706fd8;
}

.top {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.info {
    width: 20%;
    height: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    user-input: none;
    margin: 0;
}

.info-title {
    font-weight: bold;
    margin: 0;
}

.info span {
    font-size: 14px;
}

.info .MJXc-display {
    margin: 0;
}

.wrap {
    display: flex;
    width: 100%;
}

.l, .r {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.l {
    border-right: 1px solid black;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: center;
}